<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PCRLLogbook.Properties.Settings.PCRLLogbookDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PCRLLogbookDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  <appSettings>
    <add key="BaseDirectory" value="C:\Users\Server1\Desktop\PCRL_Logbook\"/>
    <add key="DBDirectory" value="F:\pcrl_logbook_data\"/> 
  </appSettings>
</configuration>